 * {
   margin: 0;
   padding: 0;
 }

 body {
   width: 1200px;
 }

 .fr {
   float: right
 }

 .project {
   position: relative;
   max-width: 1200px;
   margin: 40px auto;
   box-shadow: 5px 5px 20px 2px rgba(3, 3, 3, 0.781);
   background-size: 100%;
   padding: 60px;
   border-radius: 8px;
   text-align: center;
   background-color: #f0f0f0;

 }



 a {
   text-decoration: none;
 }

 a::before {
   content: "";
   position: absolute;
   top: 5px;
   left: 0px;
   width: 3px;
   height: 20px;
   background-color: #ff66009d;
 }

 a:hover {
   background-color: #be31ff71;
   color: #fff;
 }

 img {
   width: 88%
 }

 .goback {
   text-decoration: none;
   color: #000;
   display: block;
   padding: 5px;
   position: absolute;
   border-radius: 8px;
   top: 12px;
   left: 10px;
   font-size: 18px;
 }

 .goback:hover {
   background-color: transparent;
   color: #ff6700;
 }

 /* header部分 */
 header {
   width: 100%;
   height: 1.538462rem;
   background-color: #243d65;
   color: #fff;
   font-size: 16px;
   overflow: hidden;
 }

 header img {
   float: left;
   margin: .186667rem .564103rem .186667rem .186667rem;
   width: 1.153846rem;
   height: 1.153846rem;
 }

 header div {
   margin-left: 1.6rem;
   ;
 }

 header h3 {
   font-size: .269231rem;
   text-align: left;
   margin: .294872rem 0 .192308rem 0;
 }

 header h5 {
   text-align: left;
   margin-bottom: .205128rem;
 }

 header h5 span {
   font-size: 16px;
   margin: 0 5px;
 }

 header p {
   text-align: left;
 }

 /* main部分 */
 main {
   overflow: hidden;
 }

 aside {
   width: 1.346154rem;
   position: relative;
   height: 100%;
 }

 article {
   margin-left: 1.346154rem;
   margin-top: 10px;
 }

 /* nav {
   width: 120px;
   height: 28px;
   border: 2px solid #243d65;
   text-align: center;
   line-height: 28px;
   font-size: 20px;
   color: #122d51;
   font-weight: 700;
   position: absolute;
   top: 10px;
   left: .7875rem;
 }
*/
 /* 63 */

 nav {
   width: 0.8rem;
   height: 28px;
   border: 2px solid #243d65;
   text-align: center;
   line-height: 28px;
   font-size: .1rem;
   color: #122d51;
   font-weight: 700;
   position: absolute;
   top: 10px;
   left: 0;
   /* 63 */
 }

 .edu {
   top: 55px;
 }

 .job {
   top: 100px;
 }

 .skill {
   top: 576px;
 }

 .pro {
   top: 880px;
 }

 .comment {
   top: 2250px;
 }

 .con {
   border-top: 1px solid #243d65;
   padding: 12px 0;
   font-size: 16px;
   text-align: left;
 }

 .hopec span {
   margin-right: 0.67rem
 }

 .hopec .fr {
   margin-right: 0
 }

 .hopec i {
   margin-right: 5px;
 }

 .con .title {
   font-weight: 700;
 }

 .con .title span {
   margin-right: .769231rem;
 }

 .con .title span:last-child {
   margin-right: 0;
 }

 .content {
   margin: 20px 0;
 }

 .content p {
   line-height: 1.5;
 }

 .content p span {
   display: inline-block;
   width: .625rem;
 }